div {
	width: 200px;
	height: 30px;
	background-color: wheat;
	margin: 10px auto;
	text-align: center;
}

#red_bar {
	background-color: #ff0000;

}

#orange_bar, #yellow_bar {
	height: 60px;
	width: 250px;
}

#orange_bar {
	background-color: rgb(255, 136, 0);
}

#yellow_bar {
	background-color: rgba(242, 255, 0, 0.3);
}

.superwidth {
	width: 400px;
}
/*
#dark_blue {
	background-color: #17014f;
}
*/
.dark_knight {
	background-color: #130026;
}
