.img2 {
	height: 100px;
	width: 100px;
	position: absolute;
	left: 150px;
	transform: rotate(180deg);
	transform: translateX(100px);
	transform: translateY(100px);
	/*top: 250px;*/
}

.img1 {
	height: 100px;
	width: 100px;
	position: relative;
	left: 150px;
	/*top: 250px;*/
}
