div {
	background: wheat;
	width: 100px;
	height: 30px;
	margin: 20px auto;
	font-size: 16px;
	text-align: center;
}

#mr_red {
	background-color: #ff0000;
}

#mr_orange, #mr_yellow {
	height: 60px;
	color: aquamarine;
}
#mr_orange {
	background-color: orange;
}
#mr_yellow {
	background-color: yellow;
}

.color_block {
	width: 150px;
}

.green_color {
	background-color: #0f0;
}

/*#mr_blue {
	background-color: #00f;
}*/

.blue_color {
	background-color: rgb(22, 111, 255);
}

.dark-blue_color {
	background-color: rgba(6, 36, 84, 0.8);
}

.deep-purple_color {
	background-color: #9c27b0;
}

body {
	height: 800px;
	background: -moz-linear-gradient(top, rgba(237,47,98,1) 0%, rgba(237,47,98,1) 1%, rgba(65,62,117,0.81) 73%, rgba(10,9,17,0.74) 100%);
	background: -webkit-linear-gradient(top, rgba(237,47,98,1) 0%,rgba(237,47,98,1) 1%,rgba(65,62,117,0.81) 73%,rgba(10,9,17,0.74) 100%);
	background: linear-gradient(to bottom, rgba(237,47,98,1) 0%,rgba(237,47,98,1) 1%,rgba(65,62,117,0.81) 73%,rgba(10,9,17,0.74) 100%);
}